.newsContainer {
  background: rgba(117, 117, 117, 0.4);
  display: inline-block;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  box-shadow: 1px 1px 5px #555;
}

.newsContainer::-webkit-scrollbar {
  width: 0px;
  background-color: #F5F5F5;
}

.card {
  display: grid;
  /* background: rgb(245, 245, 245); */
  /* border-color: rgb(245, 245, 245); */
  border-radius: 3px;
  margin: 10px 0px;
  border-top: 1px solid #ccc;
}

.card:last-child {
  margin-bottom: 0px;
}

.card hr {
  margin-top: 10px;
  height: 3px;
  background-color: #E53935;
  /*background-color: #00A2E0;*/
  margin-bottom: -5px;
}

.card .title {
  padding: 5px 10px;
  border-left: 7px solid #42a5f5;
  background: #00000088;
}

.news {
  padding-bottom: 5vh;
  width: 18vw;
  /* list-style-type: none; */
}

.news img {
  width: 100%;
  height: auto;
  /* border-bottom: 1px solid #fff; */
}

.news p {
  padding: 0px 15px;
  word-wrap: break-word;
}

.news a {
  /* font: 10px 'Roboto', sans-serif; */
  color: #fff;
  /* text-shadow: 2px 2px 5px #000; */
  text-decoration: none;
}

.toggleButton {
  color: transparent;
  font-size: 0px;
  /* color: #FFFFFF;
      text-shadow: 4px 1px 4px #212121;
      height: 100%;
      line-height: 35px; */
}

/* #toggleDiv2{
      height: 0;
      width: 0;
      padding: 0px 4px;
      cursor: pointer;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid red;
  } */

#toggleDiv {
  background: #ffffff;
  position: absolute;
  height: 30px;
  width: 30px;
  margin: 5px;
  cursor: pointer;
  background-image: url(../images/news-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50px;
  margin-left: 7vh;
  /* box-shadow: inset 1px 1px 10px #666;
    width: 30px;
    margin-left: -17px; */
  /* box-shadow: 1px 1px 10px #666;
    border: 1px solid #fff;
      border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0px 4px; */
}

#toggleDiv:hover {
  box-shadow: inset 1px 1px 10px transparent;
}

#down {
  width: 100%;
  text-align: center;
  line-height: 4vh;
  height: 7vh;
  color: #fff;
  background: linear-gradient(#000, transparent);
  margin-top: -7vh;
  transform: rotate(180deg);
  cursor: pointer;
}

#down:active {
  box-shadow: inset 1px 1px 10px #666
}

.closeNews {
  top: 0;
  right: 0;
  margin: 5px;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ccc;
  /* padding: 5px; */
}

.closeNews img {
  height: 80%;
  width: 80%;
  padding: 10%;
}