body {
  margin: 0;
}

.contentContainer {
  /* position: absolute;
  display: block; */
  width: 100%;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);
  background: rgba(51, 51, 51, 0.8);
  font: 20px sans-serif;
  color: #fff;
  text-align: center;
  padding: 55px 12px; */
}

.contentContainer {
  width: 100%;
  background-size: cover;
  height: 100vh
}

.img-title {
  position: absolute;
  bottom: 4px;
  right: 6px;
  background: rgba(51, 51, 51, 0.5);
  font: 10px sans-serif;
  color: #fff;
  text-align: center;
  padding: 5px 24px;
}

.dateContainer {
  position: absolute;
  right: 0px;
  top: 4px;
  /* background: rgba(51, 51, 51, 0.5); */
  font: 14px sans-serif;
  color: #fff;
  text-align: center;
  padding: 19px 33px;
}

.quote {
  position: relative;
  top: 79%;
  font: 17px sans-serif;
  color: #fff;
  text-align: center;
  padding: 20px 41px;
  bottom: 0;
}

.leftQuote {
  background-image: url(images/quote-left.svg);
  background-size: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: -18px;
}

.rightQuote {
  background-image: url(images/right-quotation-mark.svg);
  background-size: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: -18px;
}

.quote p {
  display: inline-block;
}

.time {
  position: absolute;
  top: 20%;
  left: 32%;
  font: 120px sans-serif;
  color: #fff;
  text-align: center;
  padding: 20px 41px;
  letter-spacing: 3px;
}

.newsContainer{
  background: rgba(51, 51, 51, 0.5);
  display: inline-block;
}
.news {
  padding: 13px 24px;
  list-style-type: none;
}

.news li{

}
.news a {

  font: 10px 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}